<% user_dropdown_btns = [
  # { route: foods_path, icon: "icons/sprite.svg#coffee", title: "My foods"},
  # { route: recipes_path, icon: "icons/sprite.svg#list", title: "My recipes"},
  # { route: inventories_path, icon: "icons/sprite.svg#package", title: "My inventories"}
] %>

<% create_dropdown_btns = [
  # { route: new_food_path, icon: "icons/sprite.svg#coffee", title: "Create new food"},
  # { route: new_recipe_path, icon: "icons/sprite.svg#list", title: "Create new recipe"},
  # { route: new_inventory_path, icon: "icons/sprite.svg#package", title: "Create new inventories"}
] %>

<header class="c-header">
  <div class="c-header__content">
    <%= link_to 'Budget App', root_path, class: 'c-header__logo' %>

    <nav class="c-header__nav">
      <ul class="c-header__nav-list">
        <% if current_user %>
          <li>
            <%= button_to "sign out", destroy_user_session_path, method: :delete, class: "c-header__nav-link" %>
          </li>
          <li>
            <%= button_to nil, remote: true, class: "c-header__user-btn",
            data: {
              controller: "hdropdowns",
              action: "hdropdowns#toggleDropdown",
              hdropdowns_id_param: "user-header-dropdown",
            } do %> 
              <img 
                src=<%= image_url('blank_avatar.jpg') %>
                class="c-header__user-img" 
                alt="my photo" 
              />
              <span><%= current_user.name %></span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "sign up", new_user_registration_path, class: "c-header__nav-link" %>
          </li>
          <li>
            <%= link_to "sign in", new_user_session_path, class: "c-header__nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>