<div 
  class="c-popup u-is-hidden" 
  id=<%= popup_id %>
>
  <div class="c-popup__overlay"></div>
  <div class="c-popup__window">
    <header class="c-popup__header">
      <h2 class="c-section-title">
        Select ingredients
      </h2>
      <%= button_to nil, 
        class: "c-popup__close-btn", 
        remote: true,
        data: {
          controller: "popup",
          action: "popup#closePopup",
          popup_id_param: popup_id
        } do %>
        <svg class="c-icon--sm">
          <use xlink:href=<%= image_url("icons/sprite.svg#x")%>></use>
        </svg>
      <% end %>
    </header>
    <% if foods.empty? %>
      <p>No foods created. Please, create some food first!</p>
    <% else %>
      <%= form_with url: form_route, class: "c-food-options-form" do |form| %>
        <ul class="c-simple-list">
          <% foods.each.with_index do |food, index| %>
            <li>
              <%= render "components/food_option",
                food:,
                option_index: index + 1
              %>
            </li>
          <% end %>
        </ul>

        <%= form.submit "add ingredients", class: "c-btn" %>
      <% end %>
    <% end %>
  </div> 
</div>