<!DOCTYPE html>
<html>
  <head>
    <title>My Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "p-home-container", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="p_home__container" style="background-image:url(<%= image_url('card-bg.png') %>)">
      <div class="brand_text" id="brand">
        <%= "MoneyTracker." %>
      </div>

      <div class="p_home__content">
        <div class="p_home__content__subtitle">
          <%= "Track money Save money" %>
        </div>
        <div class="p_home_login">
          <div class="p_home__content__login__btn">
            <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
          </div>
          <div class="p_home__content__social__btn">
            <img src="<%= image_url('apple1.svg') %>" alt="Apple login" class="p_home__content__apple__login__img">
          </div>
          <div class="p_home__content__social__btn">
            <img src="<%= image_url('google.svg') %>" alt="Apple login" class="p_home__content__apple__login__img">
          </div>
        </div>

        <div class="p_home__content__signup__btn">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </body>
</html>