<%= form_with(model: @category_transaction,url: category_category_transactions_url, class: "c-new-recipe-form c-card") do |form| %>
  <% if @category_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category_transaction.errors.count, "error") %> prohibited this category_transaction from being saved:</h2>

      <ul>
        <% @category_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true  %>
  </div>

  <div>
    <%= form.hidden_field :photo, :value => "Photo" %>
  </div>

  <div>
    <%= form.hidden_field :category_id, :value => params[:category_id] %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, required: true  %>
  </div>

  <div>
    <%= form.label :payment, style: "display: block" %>
    <%= form.text_field :payment, required: true, value: 0.0 %>
  </div>

  <div class="c-new-recipe-form__upload">
    <%= form.label :upload_image, class: "upload_label" %>
    <%= form.file_field :image, required: true  %>
  </div>

  <div>
    <%= form.submit(class: "submit-btn btn") %>
  </div>
<% end %>
