<p style="color: green"><%= notice %></p>

<%= link_to "Back to categories", categories_path %>

<h1 class="page_title">Transactions</h1>

<div id="user_transactions">
<%# display total transaction %>
  <p class=>
    <span><strong>Total transactions:</strong></span>
    <span>$ <%= @total %></span>
  </p>
  <% @category_transactions.each do |category_transaction| %>
    <div class="single-category">
      <%= render category_transaction %>
      <div>
      <p>
        <%= "$ #{ category_transaction.payment }"%>
      </p>      
      <p class="see-details">
        <%= link_to icon('fa-solid', 'arrow-right'), category_category_transaction_path(id: category_transaction.id) %>
      </p>
      </div>
    </div>
  <% end %>
</div>
<div class="btn-add-new">
  <%= link_to "New transaction", new_category_category_transaction_path %>
</div>
