<p style="color: green"><%= notice %></p>

<%= render @user_transaction %>

<div>
  <%= link_to "Edit this user transaction", edit_user_transaction_path(@category_transaction) %> |
  <%= link_to "Back to user transactions", category_transactions_path %>

  <%= button_to "Destroy this user transaction", @category_transaction, method: :delete %>
</div>
