<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each_with_index do |category, index| %>
    <div class="single-category">
      <%= render category %>
      <div>
      <p>
        <%= "$ #{ @totals[index] }"%>
      </p>      
      <p>
        <%= link_to icon('fa-solid', 'arrow-right'), category_category_transactions_path(category.id) %>
      </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
